#content-header-container.organization-profile
  #content-header
    #organization-profile-header
      = render :partial => "/organizations/show/user/profile_summary.haml", :locals => {:organization => @organization}

#content-main-container
  #content-main-wrapper
    #content-main
      #opening-main-section
        = render :partial => "/openings/show/user/detail", :locals => {:opening => @opening}
    
  #sidebar
    = render :partial => "/organizations/sideboxes/user_actions.haml", :locals => {:organization => @organization}
    = render :partial => "/openings/sideboxes/actions", :locals => {:organization => @organization, :contract => @opening}
    = render :partial => "/openings/sideboxes/recruit", :locals => {:organization => @organization, :contract => @opening} if current_user.belongs_to?(@organization)

    %p.posted_on
      ="This opening was posted on"
      %span.date="#{@opening.created_at.strftime('%B %d')}"
      ="by"
      %span.posted_by="#{link_to @opening.posted_by.full_name, person_path(@opening.posted_by)}."
    - if current_user.applied_to?(@opening)
      %p.applied
        ="You applied for this position on"
        %span.applied_on="#{current_user.application_for(@opening).created_at.strftime('%B %d')}."

:javascript

  jQuery(document).ready(function()
  {
    show_photo(jQuery(".photos li:first img"));
  })
  
  function show_photo(img)
  {
    photo = jQuery(img).clone();
    title = photo.attr('title')
    photo.css("width", "98%");
    jQuery("#photo-holder img").replaceWith(photo);
    jQuery("#photo-holder span").html(title)
  }