.lightbox-content
  %h3 Edit diploma

  = error_messages_for :organization
  = error_messages_for :degree

  #edit-diploma-form
    #form-error.hide
    - form_tag user_diploma_path(current_user, @diploma), :method => :put do
    
      = render :partial => "/diplomas/forms/organization.haml", :locals => {:value => @diploma.degree.organization.name}
      = render :partial => "/diplomas/forms/degree.haml", :locals => {:value => @diploma.degree.degree}
      = render :partial => "/diplomas/forms/major.haml", :locals => {:value => @diploma.degree.major}
          
      #period.form-section
        %label Period
        = check_box_tag "diploma[to][open_ended]", nil, @diploma.to.blank?, :autocomplete => "off"
        I currently study here
        %br
        
        = render :partial => "/diplomas/forms/start_and_end_dates", :locals => {:start_date => @diploma.from, :end_date => @diploma.to}
        
      .form-section-actions
        =submit_tag "Save"
      
      
:javascript
  jQuery(document).ready(function()
  {
    jQuery("#edit-diploma-form form").ajaxify_form();
    
    searchify_section("#organization", "/autocomplete/organizations");
    searchify_section("#degree", "/autocomplete/degrees", "#organization_name");
    
    jQuery("#diploma_to_open_ended").bind("change", function(e) { e.currentTarget.checked ? jQuery("#diploma_to").hide() : jQuery("#diploma_to").show(); })
    
    if(#{@diploma.to.blank?}) jQuery("#degree_to").hide();
  })
