%h3 Edit diploma

= error_messages_for :organization
= error_messages_for :degree

#edit-diploma-form
  #form-error.hide
  - form_tag user_diploma_path(current_user, @diploma), :method => :put do
    = hidden_field_tag "organization[id]"
    = hidden_field_tag "degree[id]"
    #organization
      %label Organization
      = text_field_tag "organization[name]", @diploma.degree.organization.name, :autocomplete => "off"
      .in-place-results
        .in-place-close x
        .holder
    #degree
      %label Degree
      = text_field_tag "degree[degree]", @diploma.degree.degree, :autocomplete => "off"
      .in-place-results
        .in-place-close x
        .holder
    #major
      %label Major
      = text_field_tag "degree[major]", @diploma.degree.major, :autocomplete => "off"
      .in-place-results
        .in-place-close x
        .holder
    #current
      =check_box_tag "date[current]", nil, @diploma.to_year.blank?, :autocomplete => "off"
      I currently study here
    #degree_from_to
      From
      = select_month(@diploma.from_month, :field_name => 'from_month')
      = select_year(@diploma.from_year, :field_name => 'from_year', :start_year => 1900, :end_year => (Date.today.year + 1))
      %span#contract_to
        to
        = select_month(@diploma.to_month, :field_name => 'to_month')
        = select_year(@diploma.to_year, :field_name => 'to_year', :start_year => 1900, :end_year => (Date.today.year + 1))
    %p
      = submit_tag "Save"
      %a.unblock{:onclick => "jQuery.unblockUI();"} cancel
      
:javascript
  jQuery("#edit-diploma-form form").ajaxify_form();
  
  
  if(#{@diploma.to_year.blank?}) jQuery("#contract_to").hide();
    
  jQuery(".in-place-close").bind("click", function(e)
  {
    jQuery(this).parent().hide();
    if(jQuery("#degree_id").val() == "") jQuery(".in-place-more-info", jQuery(this).parent().parent()).show();
  })

  jQuery("#date_current").bind("change", function(e)
  {
    var checked = e.currentTarget.checked;
    if(checked)
    {
      jQuery("#contract_to").hide();
    }
    else
    {
      jQuery("#contract_to").show();
    }
  })
  
  jQuery("#organization > input").bind("keyup", function(e)
  {
    jQuery("#organization .in-place-more-info").hide();
    jQuery("#organization_id").val("");
  
    var field_name = this.id;
    var q = e.currentTarget.value;

    if(q.length < 1) return true;
    
    jQuery.getJSON("/organizations_remote/search", { q: q}, function(results)
    {
      if(results.length > 0)
      {
        jQuery("#organization > .in-place-results").show();
        jQuery("#organization .in-place-results .holder").empty();
        jQuery.each(results, function(index)
        {
          jQuery("#organization .in-place-results .holder").append("<div class='result'><a onclick='update_organization_field("+ this.organization.id + ", jQuery(this).text());'>" + this.organization.name + "</a></div>")
        })
      }
      else
      {
        jQuery("#organization .in-place-results").hide();      
      }
    });
  })
  
  function update_organization_field(id, text)
  {
    jQuery("#organization_id").val(id);
    jQuery("#organization_name").val(text);
    jQuery("#organization .in-place-results").hide();
  }
  
  jQuery("#degree> input").bind("keyup", function(e)
  {
    var organization_id = jQuery("#organization_id").val();
    
    if(organization_id > 0)
    {
      jQuery("#position_id").val("");
  
      var field_name = this.id;
      var q = e.currentTarget.value;
    
      jQuery.getJSON("/degrees_remote/search", { organization_id: organization_id,q: q}, function(results)
      {
        if(results.length > 0)
        {
          jQuery("#degree .in-place-results").show();
          jQuery("#degree .in-place-results .holder").empty();
          jQuery.each(results, function(index)
          {
            jQuery("#degree.in-place-results .holder").append("<a onclick='update_degree_field("+ this.degree.id + ", jQuery(this).text());'>" + this.degree.degree + "</a><br/>")
          })
        }
        else
        {
          jQuery("#degree .in-place-results").hide();      
        }
          
      });
    }
  })
  
  function update_position_field(id, text)
  {
    jQuery("#degree_id").val(id);
    jQuery("#degree_title").val(text);
    jQuery("#degree .in-place-results").hide();
  }
