#content-main-container
  #content-main-wrapper
    #content-main-wide.recruit
      #opening-main-section
        .opening
          = render :partial => "/openings/summary.haml", :locals => {:contract => @opening}
        #applications
          #search-applications
            %label Filter
            = text_field_tag "query", nil, {:table_id => "#applications_table", :autocomplete => "off"}
          %table#applications_table
            %thead
              %tr
                %th Applicant Name
                %th Summary
                %th Applied on
                %th
                %th
            %tbody
              - @opening.applications.each do |application|
                - applicant = application.applicant
                %tr
                  %td.full_name= link_to applicant.full_name, person_path(applicant)
                  - contract = applicant.contracts.current.first
                  %td
                    %span.contract
                      - if contract.present?
                        %span.title="#{contract.position.title}"
                        at 
                        %span.organization="#{link_to contract.position.organization.name, organization_path(contract.position.organization)}"
                        %span.separator -
                    %span.summary=truncate(applicant.detail.summary, 100)
                  %td.applied_on=application.created_at.strftime('%b %d, %y')
                  %td.status=application.status.name
                  %td.notes
                    %ul
                      %li= link_to "View profile", person_path(applicant)
                      %li= link_to "Review notes", "#{person_path(applicant)}/notes"

:javascript
  jQuery("#query").bind("keyup", function(e)
  {
    var query = jQuery(this).val();
    var table = jQuery(jQuery(this).attr('table_id'))
    var tbody = jQuery("tbody", table);

    jQuery.each(jQuery("tr",tbody), function(i, tr)
    {
      var full_name = jQuery(".full_name", jQuery(this)).text();
      
      var regex = new RegExp(query, "i");
      
      !full_name.match(regex) ? jQuery(this).hide() : jQuery(this).show();
    })
  })