#content-header-container.opening
  #content-header
    #organization-profile-header
      = render :partial => "/organizations/show/user/profile_summary.haml", :locals => {:organization => @opening.position.organization}
      
#content-main-container
  #content-main-wrapper
    #content-main
      #new-opening.main-section
        %h1 Edit your job opening
        
        #edit-opening-form
          #form-error.hide
          - form_tag "/manage/openings/#{@opening.id}", :method => :put do
            
            = render :partial => "/manage/openings/forms/position.haml"
            = render :partial => "/manage/openings/forms/city.haml"
            = render :partial => "/manage/openings/forms/terms"
              
            .form-section-actions
              =submit_tag "Save"
              
  #sidebar-container.hide
    #sidebar
    #sidebar-bottom
    
:javascript
  jQuery(document).ready(function()
  {
    jQuery("#edit-opening-form form").ajaxify_form();
  })