#content-header-container
  #content-header
    #user-profile-header

#content-main-container
  #content-main-wrapper
    #content-main-wide
      .manage
        %h1 My openings
        
        %table.openings
          %thead
            %tr
              %th Organization
              %th Position
              %th Terms
              %th Rate
              %th Posted on
              %th State
              %th Views
              %th Applications
              %th
          %tbody
            - @user.posts.each do |opening|
              %tr
                %td.organization=opening.position.organization.name
                %td.position=opening.position.title
                %td.type.from="#{opening.contract_periodicity_type.name}, #{opening.contract_type.name.downcase}, starting #{opening.from.blank? ? 'ASAP' : opening.from.strftime('%B %Y')} #{opening.to.blank? ? '' : ' ending ' + opening.to.strftime('%B %Y')}"
                %td.rate
                  - if opening.contract_rate_type_id != 5
                    ="#{opening.contract_rate_type.name} up to #{opening.rate}"
                  - else
                    =opening.contract_rate_type.name
                %td.posted_on="#{time_ago_in_words(opening.created_at)} ago"
                %td.state=opening.ssm_state
                %td.views=opening.opening_service.views
                %td.applications=opening.applications.size
                %td
                  =link_to "view", opening_path(opening)
                  =link_to "edit", edit_manage_opening_path(opening)
                  =link_to "manage", manage_opening_applications_path(opening)
                  =link_to "stages", manage_opening_stages_path(opening)
        %p.button.add=link_to "Post a new job", new_manage_opening_path
