#content-main-container
  #content-main-wrapper
    #content-main
      #new-opening.main-section
        %h1 Create a new job opening
        
        #new-opening-form
          #form-error.hide
          - form_tag "/manage/openings" do
            
            = render :partial => "/manage/openings/forms/organization.haml"
            = render :partial => "/manage/openings/forms/position.haml"
            = render :partial => "/manage/openings/forms/city.haml"
            = render :partial => "/manage/openings/forms/terms"
            = render :partial => "/manage/openings/forms/communities"
                
            .form-section-actions
              =submit_tag "Save"
  
  #sidebar-container.hide
    #sidebar
    
:javascript

  jQuery(document).ready(function()
  {
    jQuery("#new-opening-form form").ajaxify_form();
  })

