#content-header-container
  #content-header
    #organization-profile-header
      
#content-main-container
  #content-main-wrapper
    #content-main
      #new-opening.main-section
        %h1 Create your job opening
        
        #new-opening-form
          #form-error.hide
          - form_tag "/manage/openings" do
            = hidden_field_tag "opening[position_attributes[organization_attributes[id]]]", nil, :id => "organization_id"
            = hidden_field_tag "opening[position_attributes[id]]", nil
            #organization
              #organization_container
                %label Organization
                = text_field_tag "opening[position_attributes[organization_attributes[name]]]", nil, {:autocomplete => "off", :id => "organization_name", :field_name => "Organization name"}
                .in-place-results
                  .holder
            #position.form-section  
              %label Position
              = text_field_tag "opening[position_attributes[title]]", nil, {:autocomplete => "off", :id => "position_title", :field_name => "Position"}
              .in-place-results
                .in-place-close x
                .holder
              = text_area_tag "opening[description]", nil, {:autocomplete => "off", :field_name => "Description"}
            #period.form-section
              %label Period
              #asap
                = check_box_tag "opening[from][start_asap]", nil, false, {:id => "start_asap", :autocomplete => "off"}
                %p Starting as soon as possible
              #open.form-subsection
                = check_box_tag "opening[to][open_ended]", nil, false, {:id => "open_ended", :autocomplete => "off"}
                %p Open ended
              #contract_from.form-subsection.left
                %label From
                = select_month(Date.today, {}, {:name => "opening[from][month]", :autocomplete => "off"})
                = select_year(Date.today, {:start_year => 1900, :end_year => (Date.today.year + 1)}, {:name => "opening[from][year]", :autocomplete => "off"})
              #contract_to.form-subsection.left
                %label To
                = select_month(Date.today, {}, {:name => "opening[to][month]", :autocomplete => "off"})
                = select_year(Date.today, {:start_year => 1900, :end_year => (Date.today.year + 10)}, {:name => "opening[to][year]", :autocomplete => "off"})
            #contract.form-section
              %label Terms & Package
              = collection_select(:opening, :contract_type_id, ContractType.all, :id, :name, {:selected => 1}, {:autocomplete => "off"})
              = collection_select(:opening, :contract_periodicity_type_id, ContractPeriodicityType.all, :id, :name, {:selected => 1}, {:autocomplete => "off"})
              %br
              %br
              #package
                %label Package
                = collection_select(:opening, :contract_rate_type_id, ContractRateType.all, :id, :name, {:selected => 1}, {:autocomplete => "off"})
                #contract_rate
                  %br  
                  = text_field_tag "opening[rate]", nil, {:autocomplete => "off", :class => "money", :hint => ""}
                %br
                %br
            .form-section-actions
              =submit_tag "Save"
  
  #sidebar-container
    #sidebar
    #sidebar-bottom
    
:javascript
  jQuery(document).ready(function()
  {
    jQuery("#new-opening-form form").ajaxify_form();
    searchify_section("#organization", "/autocomplete/organizations");
    
    
    jQuery("#start_asap").bind("change", function(e)
    {
      var checked = e.currentTarget.checked;
      checked ? jQuery("#contract_from").hide() :jQuery("#contract_from").show();
    })
    
    jQuery("#open_ended").bind("change", function(e)
    {
      var checked = e.currentTarget.checked;
      checked ? jQuery("#contract_to").hide() :jQuery("#contract_to").show();
    })
    
    jQuery("#opening_contract_rate_type_id").bind("change", function(e)
    {
      if(jQuery(this).val() == "5")
      {
        jQuery("#contract_rate").hide();
      }
      else
      {
        jQuery("#contract_rate").show();
      }
    })
  
  })

