%h3 New position

= error_messages_for :organization
= error_messages_for :position
= error_messages_for :contract

#new-position-form
  #form-error.hide
  - form_tag "/users/#{current_user.id}/contracts" do
    #organization
      #organization_container
        %label Organization name
        = hidden_field_tag "organization[id]"
        = text_field_tag "organization[name]", "", :autocomplete => "off"
        .in-place-results
          .holder
    #position
      #position_container
        %label Position title
        = hidden_field_tag "position[id]"
        = text_field_tag "position[title]", "", {:id => "position_name", :autocomplete => "off"}
        .in-place-results
          .holder
    #contract_city_container
      %label Location
      = hidden_field_tag "contract[city][id]"
      = text_field_tag "contract[city][name]", nil, {:autocomplete => "off"}
      .in-place-results
        .holder
    #description
      %label Description
      = text_area_tag "contract[description]", nil, {:autocomplete => "off", :hint => "Job description"}
    #current
      =check_box_tag "contract[current]", nil, false, :autocomplete => "off"
      I currently work here
    #contract_from_to
      From
      = select_month(Date.today, {}, { :id => "contract[from_month]", :name => "contract[from_month]" })
      = select_year(Date.today, {}, { :id => "contract[from_year]", :name => "contract[from_year]", :start_year => 1900, :end_year => (Date.today.year + 1)})
      %span#contract_to
        to
        = select_month(Date.today, {}, { :id => "contract[to_month]", :name => "contract[to_month]" })
        = select_year(Date.today, {}, { :id => "contract[to_year]", :name => "contract[to_year]", :start_year => 1900, :end_year => (Date.today.year + 1)})
    %p
      = submit_tag "Save"
      %a.unblock{:onclick => "jQuery.unblockUI();"} cancel
      

:javascript
  jQuery(document).ready(function()
  {
    jQuery("#new-position-form form").ajaxify_form();
    
    searchify_section("#contract_city", "/autocomplete/cities");
    searchify_section("#organization", "/autocomplete/organizations");
    searchify_section("#position", "/autocomplete/positions", "#organization_id");
  })
  
  jQuery("#contract_current").bind("change", function(e)
  {
    e.currentTarget.checked ? jQuery("#contract_to").hide() :jQuery("#contract_to").show();
  })


