.lightbox-content
  %h3 New position

  #new-position-form
    #form-error.hide
    - form_tag user_contracts_path(current_user) do
    
      = render :partial => "/contracts/forms/organization.haml"
      = render :partial => "/contracts/forms/position.haml"
            
      #city
        %label Location
        = hidden_field_tag "contract[city_id]", nil, {:id => "city_id", :autocomplete => "off"}
        = text_field_tag "city_name", nil, {:id => "city_name", :autocomplete => "off"}
        .in-place-results
          .holder
          
      #description
        %label Description
        = text_area_tag "contract[description]", nil, {:autocomplete => "off", :hint => "Job description"}
        
      #period.form-section
        %label Period
        = check_box_tag "contract[to][open_ended]", nil, false, :autocomplete => "off"
        I currently work here
        %br
        
        = render :partial => "/contracts/forms/start_and_end_dates"
          
      .form-section-actions
        =submit_tag "Save"
      

:javascript
  jQuery(document).ready(function()
  {
    jQuery("#new-position-form form").ajaxify_form();
    
    searchify_section("#city", "/autocomplete/cities");
    searchify_section("#organization", "/autocomplete/organizations");
    
    jQuery("#contract_to_open_ended").bind("change", function(e) { e.currentTarget.checked ? jQuery("#contract_to").hide() :jQuery("#contract_to").show(); })  
  })
  