.lightbox-content
  %h3 New position

  #new-position-form
    #form-error.hide
    - form_tag user_contracts_path(current_user) do
      #organization
        #organization_container
          %label Organization name
          = text_field_tag "contract[position_attributes[organization_attributes[name]]]", nil, {:autocomplete => "off", :id => "organization_name", :field_name => "Organization name"}
          .in-place-results
            .holder
      #position
        #position_container
          %label Position title
          = text_field_tag "contract[position_attributes[title]]", nil, {:id => "position_title", :autocomplete => "off", :field_name => "Position title"}
          .in-place-results
            .holder
      #contract_city_container
        %label Location
        = hidden_field_tag "contract[city_id]", nil, {:id => "contract_city_id", :autocomplete => "off"}
        = text_field_tag "city_name", nil, {:id => "contract_city_name", :autocomplete => "off"}
        .in-place-results
          .holder
      #description
        %label Description
        = text_area_tag "contract[description]", nil, {:autocomplete => "off", :hint => "Job description"}
      #current
        =check_box_tag "contract[to][open_ended]", nil, false, :autocomplete => "off"
        I currently work here
      #contract_from_to
        From
        = select_month(Date.today, {}, { :id => "contract[from][month]", :name => "contract[from][month]" })
        = select_year(Date.today, {}, { :id => "contract[from][year]", :name => "contract[from][year]", :start_year => 1900, :end_year => (Date.today.year + 1)})
        %span#contract_to
          to
          = select_month(Date.today, {}, { :id => "contract[to][month]", :name => "contract[to][month]" })
          = select_year(Date.today, {}, { :id => "contract[to][year]", :name => "contract[to][year]", :start_year => 1900, :end_year => (Date.today.year + 1)})
      %p= submit_tag "Save"
      

:javascript
  jQuery(document).ready(function()
  {
    jQuery("#new-position-form form").ajaxify_form();
    
    searchify_section("#contract_city", "/autocomplete/cities");
    searchify_section("#organization", "/autocomplete/organizations");
    //searchify_section("#position", "/autocomplete/positions", "#organization_name");
  })
  
  jQuery("#contract_to_open_ended").bind("change", function(e)
  {
    e.currentTarget.checked ? jQuery("#contract_to").hide() :jQuery("#contract_to").show();
  })


