%tr
  %td
    %span.title=link_to opening.position.title, organization_opening_path(opening.position.organization, opening)
    / %span.organization=link_to opening.position.organization.name, organization_path(opening.position.organization)
    %span.organization=opening.position.organization.name
  %td
    %span.location= opening.city ? "#{opening.city.name}, #{opening.city.country.name}" : "Anywhere"
    %span.type="#{opening.contract_type.name}, #{opening.contract_periodicity_type.name}"
  %td
    - if opening.updated_at.today?
      %span.posted Today
    -else 
      %span.posted=opening.updated_at.strftime("%b %d")