%p.title="#{contract.position.title}"
%p.location="#{contract.city.city_and_country_name}"

.summary
  %p.type="#{contract.contract_type.name}, #{contract.contract_periodicity_type.name}, starting #{contract.from.blank? ? 'ASAP' : contract.from.strftime('%B %Y')} #{contract.to.blank? ? '' : ' ending ' + contract.to.strftime('%B %Y')}"
  - if contract.contract_rate_type_id != 5
    %p.rate="#{contract.contract_rate_type.name} up to #{contract.rate}" 
  - else
    %p.rate=contract.contract_rate_type.name
