#content-header-container.opening
  #content-header
    #organization-profile-header
      =render :partial => "/organizations/show/profile_summary.haml", :locals => {:organization => @contract.position.organization}

#content-main-container
  #content-main-wrapper
    #content-main
      #opening-main-section
        .opening
          .actions
            =link_to "edit", edit_organization_opening_path(@contract.position.organization, @contract)
          = render :partial => "/openings/summary.haml"
          .description
            %label Description
            %p=@contract.description
          .other-benefits
            %label Other benefits
            %p=@contract.benefits
  #sidebar
    -if @contract.posted_by_user_id == current_user.id
      %p.applications="Applications: #{@contract.applications.size}"
      %p=link_to "Manage", organization_opening_applications_path(@contract.position.organization, @contract)
    - else
      - if current_user.belongs_to?(@contract.position.organization)
        %p.posted_by="Posted by #{@contract.posted_by.full_name} #{distance_of_time_in_words_to_now(@contract.created_at)} ago, on #{@contract.created_at.strftime('%A, %B %e %Y')}"
        %p.applications="Applications: #{@contract.applications.size}"
      - else
        - if current_user.applied_to?(@contract)
          %p.applied="You applied to this opening on #{current_user.application_for(@contract).created_at.strftime('%A, %B %e %Y')}"
        - else
          %p.button.add=link_to "Apply", organization_opening_applications_path(@contract.position.organization, @contract), :method => :post
