#content-header-container.opening
  #content-header
    #opening-header
      %h2="#{@contract.position.title} at #{link_to @contract.position.organization.name, organization_path(@contract.position.organization)}"

#content-main-container
  #content-main-wrapper
    #content-main
      #opening-main-section
        .opening
          .actions
            =link_to "edit", edit_organization_opening_path(@contract.position.organization, @contract)
          %p.title="#{@contract.position.title} - Ref ##{@contract.id}"
          .summary
            %p.type="#{@contract.contract_periodicity_type.name}, #{@contract.contract_type.name} starting #{@contract.from_month.blank? ? 'ASAP' : Date::MONTHNAMES[@contract.from_month]} #{@contract.from_year} #{@contract.to_month.blank? ? '' : Date::MONTHNAMES[@contract.to_month]} #{@contract.to_year}"
            %p.rate="#{@contract.contract_rate_type.name}: #{@contract.rate}"
            %p.applications
              Applications:
              =@contract.applications.size
          .description
            %label Description
            %p=@contract.description
          .other-benefits
            %label Other benefits
            %p=@contract.benefits
  #sidebar
    - if current_user.applied_to?(@contract)
      %p="Applied to this opening on #{current_user.application_for(@contract).created_at}"
    - else
      %p.button.add=link_to "Apply", organization_opening_job_applications_path(@contract.position.organization, @contract), :method => :post