#content-header-container.opening
  #content-header
    #organization-profile-header
      =render :partial => "/organizations/show/user/profile_summary.haml", :locals => {:organization => @organization}

#content-main-container
  #content-main-wrapper
    = render :partial => "/organizations/show/user/navigation.haml", :locals => {:organization => @organization}
    #content-main
      #opening-main-section
        .opening
          = render :partial => "/openings/summary.haml", :locals => { :contract => @opening }
          .description
            %h4 The job
            %p.redcloth=to_redcloth(@opening.description)
          - if @opening.benefits
            .other-benefits
              %h4 Perks & benefits
              %p.redcloth=to_redcloth(@opening.benefits)

  #sidebar
    = render :partial => "/openings/sideboxes/recruit", :locals => {:organization => @organization, :contract => @opening} if current_user.belongs_to?(@organization)
  
    %p.posted_on
      ="Posted on"
      %span.date="#{@opening.created_at.strftime('%B %d')}"
      ="by"
      %span.posted_by=link_to @opening.posted_by.full_name, person_path(@opening.posted_by)
      
    %br
    
    - if current_user.applied_to?(@opening)
      %p.applied
        ="You applied for this position on"
        %span.applied_on=current_user.application_for(@opening).created_at.strftime('%B %d')
        
    = render :partial => "/openings/sideboxes/public_actions", :locals => {:organization => @organization, :contract => @opening}
    = render :partial => "/openings/sideboxes/actions", :locals => {:organization => @organization, :contract => @opening} if current_user.belongs_to?(@organization)