#content-header-container.user-profile
  #content-header
    #user-profile-header
      =render :partial => "/users/show/my/profile_summary.haml"

#content-main-container
  #content-main-wrapper
    = render :partial => "/users/navigation.haml", :locals => {:user => @user}
  
    #content-main
      #my-newsfeed.events
        - events = @user.feed_service.feed(10)
        - if events.size > 0
          = render :partial => "/users/shared/last_event.haml", :locals => { :event => events.shift }
          = render :partial => "/users/shared/event.haml", :collection => events
        - else
          %p.none-available="#{@user.full_name} hasn't had any updates."
  
  = render :partial => "/users/show/my/sidebar", :locals => {:user => @user}  