#content-header-container.organization-profile
  #content-header
    #organization-profile-header
      = render :partial => "/organizations/show/public/profile_summary.haml", :locals => {:organization => @organization}

#content-main-container
  #content-main-wrapper.background
    #content-main
      .main-section
        = render :partial => "/openings/show/user/detail", :locals => {:opening => @opening}
    
  #sidebar-container
    #sidebar
      = render :partial => "/openings/sideboxes/public_actions", :locals => {:organization => @organization, :contract => @opening}
      %p.posted_on
        ="This opening was posted on"
        %span.date="#{@opening.created_at.strftime('%B %d')}"
        ="by"
        %span.posted_by="#{link_to @opening.posted_by.full_name, person_path(@opening.posted_by)}."
      %br
    
:javascript

  jQuery(document).ready(function()
  {
    show_photo(jQuery(".photos li:first img"));
  })
  
  function show_photo(img)
  {
    photo = jQuery(img).clone();
    title = photo.attr('title')
    photo.css("width", "98%");
    jQuery("#photo-holder img").replaceWith(photo);
    jQuery("#photo-holder span").html(title)
  }