#content-header-container.organization-profile
  #content-header
    #organization
      #logo-section
        #logo
          =image_tag @organization.get_logo_url, :height => "80"
        =link_to_remote("change logo", :url => "/organizations/#{@organization.id}/logos/new", :method => "GET") if current_user.present? and current_user.belongs_to?(@organization)
      #summary
        %h1
          =@organization.name
          %span.actions
            =link_to_remote("edit", :url => "/organizations/#{@organization.id}/edit", :method => "GET") if current_user.present? and current_user.belongs_to?(@organization)
        %p.industry=@organization.industry.name if @organization.industry
        - if current_user.present? and current_user.belongs_to?(@organization)
          %p.me You work here.
      #metrics
        - if current_user.present? and current_user.is_following_organization?(@organization)
          %span.is_following="You are following #{@organization.name}"
        %span.followers
          %span.legend followers
          %span.number_of_followers=@organization.followed_by_people.size
        %span.separator
        %span.views
          %span.legend views
          %span.profile_views=@organization.unique_profile_views
        %br
      
              
#content-main-container
  #content-main-wrapper
    #content-main
      #organization-summary
        %span.summary.redcloth=to_redcloth(@organization.summary)

      #current-employees
        %h4 Current employees
        - @organization.contracts.current.each do |contract|
          .employee
            %span.name=link_to contract.user.full_name, person_path(contract.user)
            %span.title=" - #{contract.position.title} "
            %span.dates="since #{Date::MONTHNAMES[contract.from_month]} #{contract.from_year}"

      =render :partial => "/organizations/show/open_positions.haml", :locals => { :organization => @organization }
  
  #sidebar
    = render :partial => "/organizations/sideboxes/general_info", :locals => {:organization => @organization}
    = render :partial => "/organizations/sideboxes/actions", :locals => {:organization => @organization}
    = render :partial => "/organizations/sideboxes/followed_by_people", :locals => {:organization => @organization}