%h3 Edit profile details

= error_messages_for :user

#edit-profile-details-form
  .form
    #form-error.hide
    - form_tag "/users/#{@user.id}", :method => :put do
      %label First name
      = text_field_tag "user[first_name]", @user.first_name, {:field_name => "First name", :autocomplete => "off", :hint => ""}
      %label Last name
      = text_field_tag "user[last_name]", @user.last_name, {:field_name => "Last name", :autocomplete => "off", :hint => ""}
      %label Twitter handle
      @
      = text_field_tag "user[twitter_handle]", @user.twitter_handle, {:field_name => "Twitter handle", :autocomplete => "off", :hint => ""}
      
      #user_details_city_container
        %label Hometown
        = hidden_field_tag "user_details[city][id]", @user.detail.cities_id
        - city_and_country_name = @user.detail.city.present? ? @user.detail.city.city_and_country_name : nil
        = text_field_tag "user_details[city][name]", city_and_country_name, {:autocomplete => "off"}
        .in-place-results
          .holder
      
      %br
      %label Summary
      = text_area_tag "user_details[summary]", @user.detail.summary
      %br
      %p
        = submit_tag "Save"
        %a.unblock{:onclick => "jQuery.unblockUI();"} cancel

:javascript
  jQuery(document).ready(function()
  {
    jQuery("#edit-profile-details-form form").ajaxify_form();
    searchify_section("#user_details_city", "/autocomplete/cities");
  })
  

