#following-summary.sidebox
  %p="Following #{user.connections_to_people.size} #{user.connections_to_people.size == 1 ? 'person' : 'people'}"
  %p="Following #{user.following_organizations.size} #{user.following_organizations.size == 1 ? 'organization' : 'organizations'}"
  - if user.followed_by_people.size > 0
    %p="Followed by #{user.followed_by_people.size} #{user.followed_by_people.size == 1 ? 'person' : 'people'}"
