#photo-section
  #photo
    - if @user.is_a?(FbUser) and !@user.has_photo?
      %fb:profile-pic{ :uid => 'loggedinuser', "facebook-logo" => 'true', :linked => "false", :height => "80px"}
    - else
      =image_tag @user.get_photo_url, :height => "80"
  =link_to_remote("change photo", :url => "/users/#{@user.id}/photos/new", :method => "GET") if @user == current_user
#summary
  %h1.name
    =@user.full_name
    %span.actions
      =link_to_remote("edit", :url => "/users/#{@user.id}/edit", :method => "GET") if @user == current_user
  - if @user.contracts.current.count > 0
    .summary-positions
      - @user.contracts.current.each do |contract|
        %p
          %span.title="#{contract.position.title}"
          at 
          %span.organization="#{link_to contract.position.organization.name, organization_path(contract.position.organization)}"
  - if @user.detail.city
    %p.hometown="#{@user.detail.city.name}, #{@user.detail.city.country.name}"
  - if current_user.present? and current_user.is_following?(@user)
    %p.following ✓ Following
%br