%ul.subnavigation
  %li.profile{:class => "#{'selected' if request.path == "#{person_path(user)}" || request.path == "#{person_id_path(user)}" }"}
    %a{:href => "#{person_path(user)}"} Profile
  %li.newsfeed{:class => "#{'selected' if request.path == "#{person_path(user)}/newsfeed"}"}
    %a{:href => "#{person_path(user)}/newsfeed"} Newsfeed
  %li.stats.hide{:class => "#{'selected' if request.path == "#{person_path(user)}/stats"}"}
    %a{:href => "#{person_path(user)}/stats"} Stats
