#content-header-container.user-profile
  #content-header
    #user-profile-header
      =render :partial => "my_profile_summary.haml"
    #tabs
      #tabs-el  
        %ul
          %li.first.selected
            %span.title News Feed
            %span.tagline Latest news & events
          %li
            %a{:href => link_to_person(@user)}
              .anchor_area
                %span.title Profile
                %span.tagline Experience & Education
          %li
            %a{:href => "#{link_to_person(@user)}/organizations"}
              .anchor_area
                %span.title My Organizations
                %span.tagline Organizations & Openings
        %br

#content-main-container
  #content-main-wrapper
    #content-main
      #newsfeed
        - events = current_user.newsfeed_items
        - event = events.shift
        .last_event
          %p.title=render_event_title(event)
          - if event.created_at < 1.day.ago
            %p.when=event.created_at.strftime("%l:%M %p on %b %e")
          - else
            %p.when="About #{distance_of_time_in_words_to_now(event.created_at)} ago"
        - events.each do |event|
          .event
            %p.title=render_event_title(event)
            - if event.created_at < 1.day.ago
              %p.when=event.created_at.strftime("%l:%M %p on %b %e")
            - else
              %p.when="About #{distance_of_time_in_words_to_now(event.created_at)} ago"

  #sidebar
    = render :partial => "/users/sideboxes/actions", :locals => {:user => @user}
    = render :partial => "/users/sideboxes/following_summary", :locals => {:user => @user}
    = render :partial => "/users/sideboxes/following_summary", :locals => {:user => @user}
    = render :partial => "/users/sideboxes/connections", :locals => {:user => @user}
    = render :partial => "/users/sideboxes/following_people", :locals => {:user => @user}
    = render :partial => "/users/sideboxes/followed_by_people", :locals => {:user => @user}
    = render :partial => "/users/sideboxes/following_organizations", :locals => {:user => @user}
    = render :partial => "applications" if @user.applications.present?