#content-header-container.user-profile
  #content-header
    #user-profile-header
      =render :partial => "my_profile_summary.haml"      
    #tabs
      #tabs-el  
        %ul
          %li.first
            %a{:href => "#{link_to_person(@user)}/newsfeed"}
              .anchor_area
                %span.title News Feed
                %span.tagline Latest news & events
          %li
            %a{:href => link_to_person(@user)}
              .anchor_area
                %span.title Profile
                %span.tagline Experience & Education
          %li.selected
            %span.title My Organizations
            %span.tagline Organizations & Openings
        %br
          
#content-main-container
  #content-main-wrapper
    #content-main
      #organizations
        - if @user.organizations_active.present?
          - @user.organizations_active.each do |organization|
            .organization
              %h3="#{link_to organization.name, organization_path(organization)}"
              %p.industry=organization.industry.name if organization.industry
              .open-positions
                %h4="Latest job openings at #{organization.name}"
                = render :partial => "/organizations/show/open_position.haml", :collection => @user.postings_for(organization)
            
                %p.button.add= link_to "Add a new job opening at #{organization.name}", new_organization_opening_path(organization)
        - else
          %p.none-available
            You don't currently belong to any organizations. To add organizations to your profile, simply add a new position to your profile from the Profile tab.
            The relevant organizations will then appear on this page.
          
            



  #sidebar
    = render :partial => "/users/sideboxes/actions", :locals => {:user => @user}
    = render :partial => "/users/sideboxes/following_summary", :locals => {:user => @user}
    = render :partial => "/users/sideboxes/following_summary", :locals => {:user => @user}
    = render :partial => "/users/sideboxes/connections", :locals => {:user => @user}
    = render :partial => "/users/sideboxes/following_people", :locals => {:user => @user}
    = render :partial => "/users/sideboxes/followed_by_people", :locals => {:user => @user}
    = render :partial => "/users/sideboxes/following_organizations", :locals => {:user => @user}
    = render :partial => "applications" if @user.applications.present?