#content-header-container.user-profile
  #content-header
    #user-profile-header
      =render :partial => "my_profile_summary.haml"
    #tabs
      #tabs-el  
        %ul
          %li.first
            %a{:href => "/my/newsfeed"}
              .anchor_area
                %span.title News Feed
                %span.tagline Latest news & events
          %li.selected
            %span.title Profile
            %span.tagline Experience & Education
          %li
            %a{:href => "/my/organizations"}
              .anchor_area
                %span.title My Organizations
                %span.tagline Organizations & Openings
        %br

#content-main-container
  #content-main-wrapper
    #content-main
      #experience-and-education
        = render :partial => "/users/experience.haml", :locals => {:user => @user}
        #education
          %h4 Education
          - if @user.diplomas.count > 0
            - @user.diplomas.each do |diploma|
              .diploma
                %p.actions
                  =link_to_remote "edit", :url => edit_user_diploma_path(@user, diploma), :method => "GET"
                  ="."
                  =link_to "delete", user_diploma_path(@user, diploma), {:confirm => "Are you sure you want to delete this entry?", :method => "DELETE"}
                %p.title
                  %span.degree="#{diploma.degree.degree}"
                  in
                  %span.major="#{diploma.degree.major}"
                  from
                  %span.organization_name="#{link_to diploma.degree.organization.name, organization_path(diploma.degree.organization)}"
                  %p.dates
                    ="#{Date::MONTHNAMES[diploma.from_month]} #{diploma.from_year} - #{diploma.to_month.blank? ? 'Present' : Date::MONTHNAMES[diploma.to_month]} #{diploma.to_year}"
          %p.button.add=link_to_remote "Add a new diploma or certification", :url => new_user_diploma_path(@user), :method => :get

  #sidebar
    = render :partial => "/users/sideboxes/stats", :locals => {:user => @user}
    = render :partial => "/users/sideboxes/actions", :locals => {:user => @user}
    = render :partial => "/users/sideboxes/following_summary", :locals => {:user => @user}
    = render :partial => "/users/sideboxes/following_summary", :locals => {:user => @user}
    = render :partial => "/users/sideboxes/connections", :locals => {:user => @user}
    = render :partial => "/users/sideboxes/following_people", :locals => {:user => @user}
    = render :partial => "/users/sideboxes/followed_by_people", :locals => {:user => @user}
    = render :partial => "/users/sideboxes/following_organizations", :locals => {:user => @user}
    = render :partial => "applications" if @user.applications.present?
    = render :partial => "/users/sideboxes/tweets", :locals => {:user => @user} if @user.twitter_handle.present?