#content-main-container
  #content-main-wide
    #user
      =render :partial => "my_profile_summary.haml"
      
      #tabs
        #tabs-el  
          %ul
            %li.first.selected
              %span.title Profile
              %span.tagline Experience & Education
            %li
              %a{:href => "/my/organizations"}
                .anchor_area
                  %span.title My Organizations
                  %span.tagline Organizations & Openings
          %br
          
#content-main-container
  #content-main
    #experience-and-education
      #experience
        %h4 Experience
        .detail
          - if @user.contracts.count > 0
            - @user.contracts.each do |contract|
              .contract
                %p.actions
                  %span= link_to_remote "edit", :url => edit_user_contract_path(@user, contract), :method => "GET"
                  ="."
                  =link_to "delete", user_contract_path(@user, contract), {:confirm => "Are you sure you want to delete this entry?", :method => "DELETE"}
                %p.title
                  %span.position="#{contract.position.title}"
                  at 
                  %span.organization_name="#{link_to contract.position.organization.name, organization_path(contract.position.organization)}"
                  %p
                    ="#{Date::MONTHNAMES[contract.from_month]} #{contract.from_year} - #{contract.to_month.blank? ? 'Present' : Date::MONTHNAMES[contract.to_month]} #{contract.to_year}"
          %p.button.add= link_to_remote "Add position", :url => new_user_contract_path(@user), :method => :get
      #education
        %h4 Education
        - if @user.diplomas.count > 0
          - @user.diplomas.each do |diploma|
            .diploma
              %p.actions
                %span= link_to_remote "edit", :url => edit_user_diploma_path(@user,diploma), :method => "GET"
                ="."
                =link_to "delete", user_diploma_path(@user,diploma), {:confirm => "Are you sure you want to delete this entry?", :method => "DELETE"}
              %p.title
                %span.degree="#{diploma.degree.degree}"
                in
                %span.major="#{diploma.degree.major}"
                from
                %span.organization_name="#{link_to diploma.degree.organization.name, organization_path(diploma.degree.organization)}"
                %p
                  ="#{Date::MONTHNAMES[diploma.from_month]} #{diploma.from_year} - #{diploma.to_month.blank? ? 'Present' : Date::MONTHNAMES[diploma.to_month]} #{diploma.to_year}"
        %p.button.add=link_to_remote "Add education", :url => new_user_diploma_path(@user), :method => :get
  
#sidebar
  = render :partial => "shortcuts"
  = render :partial => "connections"          
  = render :partial => "pending_connection_requests" if @user.connections_pending.size > 0