#content-header-container.user-profile
  #content-header
    #user-profile-header
      =render :partial => "/users/public_profile_summary.haml"

#content-main-container
  #content-main-wrapper
    #content-main
      #experience-and-education
        = render :partial => "/users/experience.haml", :locals => {:user => @user}
        #education
          %h4 Education


  #sidebar
    = render :partial => "/users/sideboxes/following_summary", :locals => {:user => @user}
    = render :partial => "/users/sideboxes/connections", :locals => {:user => @user}
    = render :partial => "/users/sideboxes/following_people", :locals => {:user => @user}
    = render :partial => "/users/sideboxes/followed_by_people", :locals => {:user => @user}
    = render :partial => "/users/sideboxes/following_organizations", :locals => {:user => @user}

      
:javascript
  function handle_request(anchor)
  {
    var anchor = jQuery(anchor);
    var url = anchor.attr('href');
  
    jQuery.ajax(
    {
      url: url,
      type: "POST",
      dataType: "json",
      beforeSend: function()
      {
        jQuery("#form-error").hide();
        jQuery(".start-following").hide();
        jQuery("#form-processing").show();
      },
      complete: function()
      {
        jQuery("#form-processing").hide();
      },
      error: function(XMLHttpRequest, textStatus, errorThrown)
      {
        var error = jQuery.evalJSON(XMLHttpRequest.responseText);
      
        var messages = "";
      
        jQuery.each(error, function()
        {
          field         = jQuery("#user_" + jQuery(this)[0]);
          error_message = jQuery(this)[1];
          label         = field.attr("field_name");
        
          field.addClass("error");
          messages += label + " " + error_message + "<br />";
        })
      
        if(messages)
          jQuery("#form-error").html(messages);
        jQuery("#form-error").fadeIn("slow");
      
      },
      success: function(json, textStatus)
      {
        jQuery("#form-processing").hide(10, function(){jQuery("#form-success").show()});
      }
    });    
    return false;
  }