#content-header-container.user-profile
  #content-header
    #user
      =render :partial => "my_profile_summary.haml"
      %br

#content-main-container
  #content-main-wrapper
    #content-main
      #experience-and-education
        = render :partial => "/users/experience.haml", :locals => {:user => @user}
        #education
          %h4 Education


  #sidebar
    #connections.sidebox
      = render :partial => "connections"

      - if @user.connections_accepted.include?(current_user)
        %p You are connected to this user
      - elsif ConnectionRequest.pending_for?(@user, current_user)
        .request
          .pending
            ="Request for you to connect to this user has been sent and is awating confirmation"
      - elsif !ConnectionRequest.exists_for?(@user, current_user)
        %p.request
          %span.actions=link_over_ajax "Add #{@user.full_name} to your network", "/users/#{@user.id}/request_connection"
        #form-processing.hide
          %p Processing...
        #form-error.hide
          %p An error has occurred. Please try again later.
        #form-success.hide
          %p="Request to connect has been sent to <strong>#{@user.full_name}</strong>."
      
:javascript
  function handle_request(anchor)
  {
    var anchor = jQuery(anchor);
    var url = anchor.attr('href');
  
    jQuery.ajax(
    {
      url: url,
      type: "POST",
      dataType: "json",
      beforeSend: function()
      {
        jQuery("#form-error").hide();
        jQuery(".request").hide();
        jQuery("#form-processing").show();
      },
      complete: function()
      {
        jQuery("#form-processing").hide();
      },
      error: function(XMLHttpRequest, textStatus, errorThrown)
      {
        var error = jQuery.evalJSON(XMLHttpRequest.responseText);
      
        var messages = "";
      
        jQuery.each(error, function()
        {
          field         = jQuery("#user_" + jQuery(this)[0]);
          error_message = jQuery(this)[1];
          label         = field.attr("field_name");
        
          field.addClass("error");
          messages += label + " " + error_message + "<br />";
        })
      
        if(messages)
          jQuery("#form-error").html(messages);
        jQuery("#form-error").fadeIn("slow");
      
      },
      success: function(json, textStatus)
      {
        jQuery("#form-processing").hide(10, function(){jQuery("#form-success").show()});
      }
    });    
    return false;
  }