#navigation-side
  %ul#sidenav
    %li.newsfeed{:class => "#{'selected' if request.path == "#{person_path(user)}/newsfeed"}"}
      %a{:href => "#{person_path(user)}/newsfeed"}
        %span Newsfeed
    %li.profile{:class => "#{'selected' if request.path == "#{person_path(user)}" || request.path == "#{person_id_path(user)}" }"}
      %a{:href => "#{person_path(user)}"}
        %span Profile
    %li.organizations.hide{:class => "#{'selected' if request.path == "#{person_path(user)}/organizations"}"}
      %a{:href => "#{person_path(user)}/organizations"}
        %span Organizations
    %li.separator
    %li.notes{:class => "#{'selected' if request.path == "#{person_path(user)}/notes"}"}
      %a{:href => "#{person_path(user)}/notes"}
        %span Your notes
