#content-header-container.user-profile
  %style
    =get_content_header_style_for_user_profile(@user)
  #content-header
    #user-profile-header
      =render :partial => "/users/show/public/profile_summary.haml"

#content-main-container
  #content-main-wrapper
    = render :partial => "/users/show/user/navigation.haml", :locals => {:user => @user}
    
    #content-main
      #experience-and-education
        = render :partial => "/users/experience.haml", :locals => {:user => @user}
        = render :partial => "/users/education.haml", :locals => {:user => @user}
        = render :partial => "/users/interests.haml", :locals => {:user => @user}
  
  = render :partial => "/users/show/user/sidebar", :locals => {:user => @user}