#content-header-container.user-profile
  %style
    =get_content_header_style_for_user_profile(current_user)
  #content-header
    #user-profile-header
      = render :partial => "/users/show/my/profile_summary.haml", :locals => {:user => current_user}
      
#content-main-container
  #content-main-wrapper
    #content-main
      %h1="Import your profile from Linkedin"
      %p Paste the address to your public Linkedin profile below.
      #import-linkedin-form
        - form_tag "/imports" do
          %label Public profile URL
          = text_field_tag :linkedin_public_profile_url, @linkedin_url, :hint => "http://www.linkedin.com/in/yourfullname"
          = submit_tag "Preview"
          - if @user
            = submit_tag "Import"
        - if @user    
          #import-linkedin-profile
            %h1="Profile of #{@user.full_name} preview"
            #experience-and-education
              = render :partial => "/users/experience.haml", :locals => {:user => @user}
              = render :partial => "/users/education.haml", :locals => {:user => @user}
              = render :partial => "/users/interests.haml", :locals => {:user => @user}
