#navigation-side
  %ul#sidenav
    %li.profile{:class => "#{'selected' if request.path == "#{organization_path(organization)}"}"}
      %a{:href => "#{organization_path(organization)}"}
        %span Profile
    %li.offices{:class => "#{'selected' if request.path == "#{organization_path(organization)}/offices"}"}
      %a{:href => "#{organization_path(organization)}/offices"}
        %span Offices

