%ul.subnavigation
  %li.profile{:class => "#{'selected' if request.path == "#{organization_path(organization)}" or request.path == "/organizations/#{organization.id}"}"}
    %a{:href => "#{organization_path(organization)}"} Profile
  %li.newsfeed{:class => "#{'selected' if request.path == "#{organization_path(organization)}/newsfeed"}"}
    %a{:href => "#{organization_path(organization)}/newsfeed"} Newsfeed
  %li.hide.offices{:class => "#{'selected' if request.path == "#{organization_path(organization)}/offices"}"}
    %a{:href => "#{organization_path(organization)}/offices"} Offices
