#content-header-container.organization-profile
  #content-header
    #organization-profile-header
      =render :partial => "/organizations/show/user/profile_summary.haml", :locals => { :organization => @organization}

#content-main-container
  = render :partial => "/organizations/show/user/navigation.haml", :locals => { :organization => @organization}
  #content-main-wrapper
    #content-main
      - events = @organization.feed_service.feed(20)
      - if events.size > 0
        #organization-newsfeed.events
          = render :partial => "/users/shared/last_event.haml", :locals => { :event => events.shift }
          = render :partial => "/users/shared/event.haml", :collection => events
      - else
        %p.none-available="#{@organization.name} hasn't had any updates."
  
  = render :partial => "/organizations/sideboxes/sidebar", :locals => { :organization => @organization, :crunchbase_info => @crunchbase_info }