#content-header-container.organization-profile
  #content-header
    #organization-profile-header
      =render :partial => "/organizations/show/user/profile_summary.haml", :locals => { :organization => @organization}

#content-main-container
  #content-main-wrapper
    = render :partial => "/organizations/show/user/navigation.haml", :locals => { :organization => @organization}
  
    #content-main
      #organization-newsfeed.events
        - events = @organization.feed_service.feed(20)
        - if events.size > 0
          = render :partial => "/users/shared/last_event.haml", :locals => { :event => events.shift }
          = render :partial => "/users/shared/event.haml", :collection => events
        - else
          %p.none-available="#{@organization.name} hasn't had any updates."
  
  #sidebar
    = render :partial => "/organizations/sideboxes/general_info", :locals => {:organization => @organization}
    = render :partial => "/organizations/sideboxes/actions", :locals => {:organization => @organization} if current_user.belongs_to?(@organization)
    = render :partial => "/organizations/sideboxes/crunchbase", :locals => {:info => @crunchbase_info } if @crunchbase_info
    = render :partial => "/organizations/sideboxes/followed_by_people", :locals => {:organization => @organization}