#content-header-container.organization-profile
  #content-header
    #user-profile-header
      =render :partial => "/organizations/show/user/profile_summary.haml", :locals => { :organization => @organization}

#content-main-container
  #content-main-wrapper
    = render :partial => "/organizations/show/user/navigation.haml", :locals => { :organization => @organization}
  
    #content-main
      #organization-newsfeed.events
        - events = @organization.events
        - if events.size > 0
          - event = events.shift
          .last_event{:class => get_class_by_event_type(event)}
            %p.title=render_event_title(event)
            - if event.created_at < 1.day.ago
              %p.when=event.created_at.strftime("%l:%M %p on %b %e %Y")
            - else
              %p.when="About #{distance_of_time_in_words_to_now(event.created_at)} ago"
          = render :partial => "/users/shared/event.haml", :collection => events
        - else
          %p.none-available="#{@organization.full_name} hasn't had any updates."
  
  #sidebar
    = render :partial => "/organizations/sideboxes/general_info", :locals => {:organization => @organization}
    = render :partial => "/organizations/sideboxes/actions", :locals => {:organization => @organization} if current_user.belongs_to?(@organization)
    = render :partial => "/organizations/sideboxes/crunchbase", :locals => {:info => @crunchbase_info } if @crunchbase_info
    = render :partial => "/organizations/sideboxes/followed_by_people", :locals => {:organization => @organization}