#content-header-container.organization-profile
  #content-header
    #organization-profile-header
      =render :partial => "/organizations/show/user/profile_summary.haml", :locals => {:organization => @organization}
              
#content-main-container
  #content-main-wrapper
    = render :partial => "/organizations/show/user/navigation.haml", :locals => {:organization => @organization}
  
    #content-main
      #organization-profile-summary
        %span.summary.redcloth=to_redcloth(@organization.summary)

      #organization-profile-employees-and-openings
        = render :partial => "/organizations/show/open_positions.haml", :locals => { :organization => @organization }
        #current-employees
          %h4 Current employees
          - @organization.contracts.current.each do |contract|
            .employee
              %span.name=link_to contract.user.full_name, person_path(contract.user)
              %span.title=" - #{contract.position.title} "
              %span.dates="since #{Date::MONTHNAMES[contract.from_month]} #{contract.from_year}"
      
  #sidebar
    = render :partial => "/organizations/sideboxes/actions", :locals => {:organization => @organization} if current_user.belongs_to?(@organization)
    = render :partial => "/organizations/sideboxes/general_info", :locals => {:organization => @organization}
    = render :partial => "/organizations/sideboxes/crunchbase", :locals => {:info => @crunchbase_info } if @crunchbase_info
    = render :partial => "/organizations/sideboxes/followed_by_people", :locals => {:organization => @organization}

:javascript
  function handle_request(anchor)
  {
    var anchor = jQuery(anchor);
    var url = anchor.attr('href');

    jQuery.ajax(
    {
      url: url,
      type: "POST",
      dataType: "json",
      beforeSend: function()
      {
        jQuery("#form-error").hide();
        jQuery("span.follow.button").hide();
        jQuery("span.processing").show();
        },
      complete: function()
      {
        jQuery("span.processing").hide();
      },
      error: function(XMLHttpRequest, textStatus, errorThrown)
      {
        var error = jQuery.evalJSON(XMLHttpRequest.responseText);

        var messages = "";

        jQuery.each(error, function()
        {
          field         = jQuery("#user_" + jQuery(this)[0]);
          error_message = jQuery(this)[1];
          label         = field.attr("field_name");

          field.addClass("error");
          messages += label + " " + error_message + "<br />";
        })

        if(messages)
          jQuery("#form-error").html(messages);
        jQuery("#form-error").fadeIn("slow");

      },
      success: function(json, textStatus)
      {
        jQuery("span.processing").hide(10, function(){jQuery("span.is_following").show()});
      }
    });    
    return false;
  }