#content-main-container.admin-section
  #content-main-wrapper
    #content-main-wide.admin
      .main-section
        =render :partial => "/admin/navigation"
        %h1="Entries for #{@external_feed.title}"
        %p="Total entries: #{@external_feed.entries.size}"
        %p="Unreviewed entries: #{@entries.size}"
        %table.entries
          %tbody
            - @entries.each do |entry|
              %tr
                %td=entry.id
                %td.title=link_to "#{entry.id} - #{entry.title}", "/admin/external_feeds/#{@external_feed.id}/entries/#{entry.id}", :target => "_blank"
                %td.published="#{distance_of_time_in_words_to_now(entry.published)} ago"
