#content-header-container
  #content-header
    #organization-profile-header

#content-main-container
  #content-main-wrapper
    #content-main-wide
      #navigation-manage  
        %p=link_to "Back to openings", "/manage/openings"
      #opening-main-section
        .opening
          %p.title="#{@opening.position.title} at #{@opening.position.organization.name}"
          %p.location="#{@opening.city.city_and_country_name}"

          .summary
            %p.type="#{@opening.contract_type.name}, #{@opening.contract_periodicity_type.name}, starting #{@opening.from.blank? ? 'ASAP' : @opening.from.strftime('%B %Y')} #{@opening.to.blank? ? '' : ' ending ' + @opening.to.strftime('%B %Y')}"
            - if @opening.contract_rate_type_id != 5
              %p.rate="#{@opening.contract_rate_type.name} up to #{@opening.rate}" 
            - else
              %p.rate=@opening.contract_rate_type.name
        
        
        #applications
          %ul.stages
            %li.all{:class => "#{'current' if @show_all}"}=link_to "All (#{@opening.applications.count})", manage_organization_opening_applications_path(@opening.position.organization, @opening)
            - JobApplicationStage.for(@opening).each do |stage|
              %li{:class => "#{'current' if stage == @current_stage}"}=link_over_ajax "#{truncate(stage.name, 15)} (#{@opening.applications.count(:conditions => "job_application_stage_id = #{stage.id}")})", manage_organization_opening_applications_path(@opening.position.organization, @opening, :stage_id => stage.id), "load_applications"
          %p.manage_stages=link_to 'manage stages', "/"
          %br
          %br
          
          #search-applications
            %label Filter
            = text_field_tag "query", nil, {:table_id => "#applications_table", :autocomplete => "off"}
          
          #applications_table_holder
            = render :partial => "/manage/job_applications/applications.haml"

:javascript


  jQuery("#query").bind("keyup", function(e)
  {
    var query = jQuery(this).val();
    var table = jQuery(jQuery(this).attr('table_id'))
    var tbody = jQuery("tbody", table);

    jQuery.each(jQuery("tr",tbody), function(i, tr)
    {
      var full_name = jQuery(".full_name", jQuery(this)).text();
      
      var regex = new RegExp(query, "i");
      
      !full_name.match(regex) ? jQuery(this).hide() : jQuery(this).show();
    })
  })