!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://www.facebook.com/2008/fbml"}
  %head
    %meta{'http-equiv'=>"content-type", :content=>"text/html;charset=UTF-8"}
    %meta{'http-equiv'=>"expires", :content=>"0"}
    %meta{'http-equiv'=>"pragma", :content=>"no-cache"}
    %meta{:name=>"robots", :content=>"all"}
    %meta{:name=>"keywords", :content=>"social, network, recruitment#{", #{@user.full_name}" if @user}"}
  
    %title
      - if @title
        ="#{@title} ~ talentjunkie"
      - else
        ="talentjunkie"
    //%script{:src => "http://www.google.com/jsapi?key=ABQIAAAACTzh5XmVIRbfdDNmLHvsvhTTj6W7sQjONiOLDIxGBdWuBlqN8RQ0uIecSNFUBG0rYraShlbQAH6q_A", :type=>"text/javascript"}
    :javascript
      //google.load("jquery", "1.4.2");
      //google.load("jqueryui", "1.7.2");

    = stylesheet_link_tag 'application', 'header_and_footer', 'headers', 'links_and_buttons', 'navigation', 'profile_common', 'search', 'forms', 'events', 'notes', 'tweets', 'lightbox', 'login', 'signup', 'newsfeed', 'user', 'organization', 'opening', 'contract', 'job_application', 'in_place', 'wizard', 'redcloth', 'charts', 'manage', 'external_feeds', 'welcome', 'guides', '/javascripts/vendor/fancybox/jquery.fancybox-1.3.1.css',  :cache => "app_css"
    = stylesheet_link_tag "/themes/#{@user.settings.theme.name}/stylesheets/#{@user.settings.theme.name}", :cache => "#{@user.settings.theme.name}.css" if @user and @user.settings.theme
    
    = javascript_include_tag 'jquery.min.js', 'jquery-ui.min.js', 'application', 'forms', 'jquery/jquery.json.js', 'vendor/FusionCharts.js', 'vendor/swfobject', 'vendor/json-template', 'vendor/fancybox/jquery.fancybox-1.3.1.pack.js', 'vendor/fancybox/jquery.mousewheel-3.0.2.pack.js', :cache => "app_js"

  - if ENV["RAILS_ENV"]  == 'production'
    :javascript      
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      try {
      var pageTracker = _gat._getTracker("UA-1993721-3");
      pageTracker._trackPageview();
      } catch(err) {}
  
  %body
    %script{:src => "http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php", :type=>"text/javascript"}
    :javascript
      jQuery(document).ready(function()
      {
        FB.init("#{@fb_api_key}", "/xd_receiver.html")      
        FB.ensureInit(function () {})
      })
    
    #header-container
      = render :partial => "/common/header"
    #content
      =yield
      %br
    #footer.hide
      %br