!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://www.facebook.com/2008/fbml"}
  %head
    %meta{'http-equiv'=>"content-type", :content=>"text/html;charset=UTF-8"}
    %meta{'http-equiv'=>"expires", :content=>"0"}
    %meta{'http-equiv'=>"pragma", :content=>"no-cache"}
  
    %title
      - if @title
        ="#{@title} | talentjunkie"
      - else
        ="talentjunkie"
    //%script{:src => "http://www.google.com/jsapi?key=ABQIAAAACTzh5XmVIRbfdDNmLHvsvhTTj6W7sQjONiOLDIxGBdWuBlqN8RQ0uIecSNFUBG0rYraShlbQAH6q_A", :type=>"text/javascript"}
    :javascript
      //google.load("jquery", "1.3.2");
      //google.load("jqueryui", "1.7.2");

    = stylesheet_link_tag 'application', 'header_and_footer', 'headers', 'links_and_buttons', 'navigation', 'search', 'forms', 'events', 'notes', 'tweets', 'lightbox', 'login', 'signup', 'newsfeed', 'user', 'organization', 'opening', 'contract', 'job_application', 'in_place', 'wizard', 'redcloth', 'charts', 'recruit', 'external_feeds', 'welcome', :cache => "app_css"
    = javascript_include_tag 'jquery.js', 'jquery-ui.js', 'application', 'forms', 'jquery/jquery.blockUI.js', 'jquery/jquery.json.js', 'vendor/FusionCharts.js', 'vendor/swfobject', :cache => "app_js"

    :javascript
        jQuery.blockUI.defaults.overlayCSS.backgroundColor = "#666666"
        jQuery.blockUI.defaults.css.backgroundColor = '#FFFFFF';
        jQuery.blockUI.defaults.css.textAlign = '';
        jQuery.blockUI.defaults.css.padding = '0px';
        jQuery.blockUI.defaults.css.color = '';
        jQuery.blockUI.defaults.css.border = '0';
        jQuery.blockUI.defaults.css.cursor = '';
        jQuery.blockUI.defaults.css.top = '10%';
        jQuery.blockUI.defaults.css.left = '20%';
        jQuery.blockUI.defaults.css.width = '60%';

  %body
    %script{:src => "http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php", :type=>"text/javascript"}
    :javascript
      jQuery(document).ready(function()
      {
        FB.init("#{@fb_api_key}", "/xd_receiver.html")      
        
        FB.ensureInit(function () {
        })
      })
    
    #header
      = render :partial => "/common/header"
    #content
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      = yield
      %br
    #footer
      %br

  - if ENV["RAILS_ENV"]  == 'production'
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-XXXXX-X']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
      })();
